div(ng-show="editing")
  h3
    span {{editing.itemProp}} = {{editing.id}}\#{{editing.elementId}}
  hr

  form.element-properties(ng-hide="editing.isRoot")
    h4 Item Properties
    .form-group
      label.control-label.checkbox
        fui-checkbox.form-control(
          ng-model    = "editing.linkedResource"
        )
        span Linked Resource

    section(ng-show="editing.linkedResource")
      .control-group
        input.form-control(
          type        = "text"
          ng-model    = "editing.url"
          placeholder = "Resource Url"
        )

    section(ng-switch="editing.id", ng-hide="editing.linkedResource")
      span(ng-switch-when="URL")
        .control-group
          input.form-control(
            type        = "url",
            ng-model    = "editing.url"
            placeholder = "Url"
          )

        .control-group
          input.form-control(
            type        = "text"
            ng-model    = "editing.rel"
            placeholder = "Relation"
          )

      span(ng-switch-when="Text")
        .control-group
          input.form-control(
            type        = "Text"
            ng-model    = "editing.text"
            placeholder = "Property Value"
          )

      .control-group
        input.form-control(
          type        = "text"
          ng-model    = "editing.tag"
          placeholder = "Tag"
        )

  form.element-creation.form-group(ng-hide="editing.linkedResource")
    h4 Child Element Creation
    .control-group(ng-hide="editing.isRoot")
      label.control-label Property
      fui-select.form-control(
        ng-model="$parent.currentItemProp"
        ng-options="schemas.properties[itemProp].id as schemas.properties[itemProp].label for itemProp in schemas.types[editing.id].properties"
      )
        option(value="") Select Property

      p.well {{schemas.properties[currentItemProp].comment_plain}}

    .control-group(ng-hide="editing.isRoot")
      label.control-label Property Type
      fui-select.form-control(
        ng-model="$parent.currentItemPropId"
        ng-options="range as range for range in schemas.properties[currentItemProp].ranges"
      )
        option(value="") Select Property Type

    .control-group
      label.control-label Type
      fui-select.form-control(
        ng-model="$parent.currentItemPropId"
        ng-options="type as type for (type, def) in schemas.types"
      )
        option(value="") Select Type

    button.btn.btn-primary.btn-block(ng-click="editing.appendItemProp(currentItemPropId, currentItemProp)") Add

